[data-theme="light"] {
  --primary: #4ea8de;
  --secondary: #a7c7e7;
  --background: #f3f3f3;
  --text: #111827;
  --accent: #5a9bd4;
  --box-shadow: rgb(129, 180, 226) 0px 20px 30px -10px;
}

[data-theme="dark"] {
  --primary: #1b263b;
  --secondary: #203749;
  --background: #050911;
  --text: #a0aec0;
  --accent: #3b82f6;
  --box-shadow: rgba(59, 130, 246, 0.4) 0px 12px 24px -8px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Delius Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(135deg, var(--primary), var(--secondary));
  background-size: 1350% 1350%;
  animation-name: background_color_change;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes background_color_change {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}

/* NAVBAR */
.navbar-toggler {
  box-shadow: none !important;
  border: none !important;
  cursor: pointer;
}

.custom-toggler-white {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.custom-toggler-black {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-brand {
  background: linear-gradient(135deg, #4ea8de, #a7c7e7);
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.nav-item {
  text-align: center;
}

.nav-link {
  color: var(--text);
  font-size: 1.1rem;
  border-radius: 5px;
  margin: 0px 3px;
}

.nav-link:hover {
  color: white;
  background-image: linear-gradient(150deg, var(--primary), var(--secondary));
}

.active {
  color: white !important;
  background-image: linear-gradient(150deg, var(--primary), var(--secondary));
}

.theme-switch .form-check-input {
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: none !important;
}

.theme-switch .form-check-input:checked {
  background-color: #6c63ff;
}

/* LOGIN */
.login-card {
  display: block;
  margin: auto;
  max-width: 500px;
}

.register-card {
  display: block;
  margin: auto;
  max-width: 500px;
}

.login-input:focus,
.register-input:focus {
  box-shadow: none;
  border: 1px solid var(--text);
}

/* HOME - HERO */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90vh;
}

.hero-heading {
  font-size: clamp(2rem, 5vw, 3.8rem);
  font-weight: bolder;
  line-height: 1.2;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.hero-head-1,
.hero-subhead-1 {
  color: var(--text);
}

.hero-subheading {
  font-size: clamp(1.1rem, 3vw, 1.75rem);
  font-weight: 600;
  line-height: 1.4;
}

.hero-btn {
  font-size: clamp(0.8rem, 3vw, 1.2rem);
}

/* MINI FEATURE */
.mini-feature-section {
  background-color: var(--background);
  padding: 40px;
}

.mini-feature-container {
  height: auto;
}

.feature-card {
  color: var(--text);
  background-color: var(--background);
  border: none;
  margin: 10px;
  transition: transform 0.4s ease-in-out;
  box-shadow: var(--box-shadow);
}

.feature-card:hover {
  transform: scale(1.03);
}

/* METRICS */
.metrics-section {
  padding: 40px;
}

.metrics-heading {
  color: var(--text);
  font-size: clamp(1rem, 5vw, 3rem);
}

.metrics-subheading {
  color: var(--text);
}

.metrics-col:hover .metrics-heading,
.metrics-col:hover .metrics-subheading {
  color: white;
}

/* NEWSLETTER */
.newsletter-section {
  padding: 40px;
  background-color: var(--background);
}

.newsletter-heading,
.newsletter-subheading {
  color: var(--text);
}

.newsletter-card {
  background-image: linear-gradient(150deg, var(--primary), var(--secondary));
  border: none;
}

.newsletter-input::placeholder {
  color: var(--text);
}

.newsletter-input:focus {
  box-shadow: none;
}

.newsletter-btn {
  font-size: clamp(0.3rem, 2vw, 0, 7rem);
}

/* ABOUT */

.about-container {
  margin-top: 20px;
}

.about-row {
  padding: 20px;
}

.about-heading {
  text-align: center;
  color: var(--text);
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: bold;
}

.about-subheading {
  text-align: center;
  color: var(--text);
}

.about-content {
  padding: 40px;
  background-color: var(--background);
}

.about-content-col {
  padding: 20px;
}

.about-content-card {
  padding: 10px;
  border: none;
  background-color: var(--background);
  box-shadow: var(--box-shadow);
}

.about-content-heading {
  color: var(--text);
}

.about-content-heading::first-letter {
  font-size: clamp(1rem, 3vw, 2rem);
}

.about-content-subheading {
  color: var(--text);
}

/* FEATURES */
.features-container {
  padding: 40px;
}

.features-heading {
  text-align: center;
  color: var(--text);
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: bold;
}

.features-subheading {
  text-align: center;
  color: var(--text);
}

.features-content-section {
  background-color: var(--background);
  padding: 40px;
}

.features-col {
  padding: 10px;
}

.features-card {
  padding: 20px;
  border: none;
  background-color: var(--background);
  box-shadow: var(--box-shadow);
}

.features-card-heading,
.features-card-subheading {
  color: var(--text);
}

/* HOW IT WORKS */
.howitworks-container {
  padding: 30px;
}

.howitworks-heading {
  text-align: center;
  color: var(--text);
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: bold;
}

.step-section-1,
.step-section-2,
.step-section-3,
.step-section-4 {
  padding: 40px;
}

.step-section-2,
.step-section-4 {
  background-color: var(--background);
}

.step-section-col {
  margin-top: 20px;
}

.howitworks-step-heading,
.howitworks-step-subheading {
  color: var(--text);
}

.howitworks-step-heading::first-letter {
  font-size: 2rem;
}

/* CONTACT US  */
.contactus-container,
.support-container {
  padding: 40px;
}

.contactus-section {
  background-color: var(--background);
}

.contactus-heading,
.support-heading {
  text-align: center;
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: bold;
  color: var(--text);
}

.contactus-subheading,
.support-subheading {
  text-align: center;
  color: var(--text);
}

.support-subheading-1 {
  color: var(--text);
}

.contact-label {
  color: var(--text);
}

.contact-input:focus {
  box-shadow: none;
  border: 1px solid var(--text);
}

/* FAQS */

.faq-container {
  padding: 30px;
}

.accordion-item {
  background-color: var(--text);
}

.accordion-button {
  background-color: var(--background);
  color: var(--text);
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  background-color: var(--background);
  color: var(--text);
}

.accordion-button:focus {
  color: white;
}

.accordion-body {
  background-color: var(--secondary);
  color: var(--text);
}

.accordion-item,
.accordion-button,
.accordion-body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.faq-heading {
  text-align: center;
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: bold;
  color: var(--text);
}

/* FOOTER */
.footer-container {
  padding: 40px;
}

.footer-brand {
  color: var(--text);
  font-size: clamp(1.8rem, 5vw, 2.1rem);
}

.footer-subhead {
  color: var(--text);
}

.footer-heads {
  text-decoration: none;
  color: var(--text);
  cursor: pointer;
}

.footer-heads:hover {
  color: white;
  background-image: linear-gradient(150deg, var(--primary), var(--secondary));
}

.footer-copyright {
  margin-top: 20px;
  background-color: var(--background);
  border-radius: 2px;
}
